
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Berkshire+Swash&display=swap');

@import "tailwindcss";


@theme {
   --font-family: "Berkshire Swash", serif;
   --font-fam: "Archivo Black", sans-serif;
   --color-primary: #F83D8E;
}